body {
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1f2937;
  height: 400px;
  padding: 0 20%;
}

.header {
  display: flex;
  height: 20%;
  width: 100%;
}

.header-logo {
  flex: 1;
}

.header-links {
  flex: 1;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}
