body {
  margin: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1f2937;
  height: 350px;
}

header {
  display: flex;
  align-items: center;
  width: 80%;
}

.hero-logo {
  font: bold 24px "Roboto", sans-serif;
  color: #f9faf8;
}

header > nav {
  margin-left: auto;
}

.header-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}
